@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$blood: #EC2727;
$lightblood: #ffa0a0;
$lighterblood: #fff2f2;


$custom-colors: (
"blood": $blood,
"lightblood": $lightblood,
"lighterblood": $lighterblood,
);

$theme-colors: map-merge($custom-colors , $theme-colors);
