*{
    margin: 0;
    padding: 0;
    font-family: "ilyass";
}

.section1{
    height: 70vh;
    background: #e3e3e3;
    .hero{
        .section1_rightside{
            h1{
                font-family: "simo";
            }
            .book-table{
                .book-btn{
                    width: 30% !important;
                    &:hover{
                        background-color: white !important;
                        color: $blood !important;
                        border: solid $blood 3px !important;
                        padding: 5px 0 !important ;
                    }
                }
            }
        }
    }
}